*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
background-color: rgb(255, 255, 255);
}
.container
{
height:10vh;
width:100vw;
background-color:rgb(9, 9, 9)
}
.Riotbutton
{
    height: 5px;
    width: auto;
    background: none;
    padding: 0;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 1%;
    margin-left: 1% ;
}
.Riotbutton:hover{
    filter: 
        brightness(0.5)
        sepia(1) 
        hue-rotate(-50deg)
        saturate(5);
}
.Riotbutton img{
    height: 50px;
    width: auto;
    display: block;
}
.bvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background: black;
    top: 20vh;
    filter: brightness(0.7);
}
#valovid{
    position: absolute;
    margin-top: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.tagline{
    position: absolute;
    text-align: center;
    color: white;
    font-family: Arial;
    top: 50%;
    left: 40%;
}
.tagpic{
    position: absolute;
    height: 100px;
    width: auto;
    top: 35%;
    left: 35%;
}
.playnow{
    position: absolute;
    font-family: Arial;
    justify-content: center;
    background-color: rgb(255, 61, 61);
    color: white;
    height: 75px;
    width: 150px;
    border: 1px solid white;
    left: 45%;
    top: 55%;
    transition: 0.2s ease-in-out;

}
.playnow:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}